<configuration>
    <system.webServer>
      <rewrite>
        <rules>
          <rule name="Rewrite to google.com">
            <match url="^(.*)$" />
            <action type="Redirect" url="https://newssnips.fyi" />
          </rule>
        </rules>
      </rewrite>
    </system.webServer>
</configuration>