@siteTemplate("About") {

<div class="container">

  <div class="jumbotron text-white rounded bg-dark">
    <div class="col-md-12 px-0">
      <h1 class="font-italic">About</h1>
      <p class="lead">
        Social media and news <strong>draining</strong> your energy? Stay
        informed without the negativity.
      </p>
      <p>
        What consumes our attention shapes our opinions and views. Our opinions
        and views shape our mental health (and actions). Tune out the
        scaremongering
        and sensationalism with NewsSnips.
      </p>
      <p class="lead mb-0">
        <a role="button" class="btn btn-primary" href="/v1/home">Show Me</a>
        <a role="button" class="btn btn-secondary" href="#faq"
          class="text-white font-weight-bold">I Have Questions</a>
      </p>
    </div>
  </div>


  <!-- Marketing messaging and featurettes
        ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container">

    @*
    <!-- Three columns of text below the carousel (put team and faces) -->
    <!-- <div class="row">
            <div class="col-lg-4">
              <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
              <h2>Heading</h2>
              <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
              <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
            </div>
            <div class="col-lg-4">
              <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
              <h2>Heading</h2>
              <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
              <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
            </div>
            <div class="col-lg-4">
              <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
              <h2>Heading</h2>
              <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
              <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
            </div>
          </div>  -->
    *@


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">A new way to stay informed.
          <span class="text-muted">
            Reclaim control.
          </span>
        </h2>
        <p class="lead">
          Stay informed
          on the topics of <strong>your</strong> interest instead of getting
          hooked by
          the fear inducing headlines. Choose how you <strong>spend</strong>
          your attention from the start.
        </p>

        <p class="lead">
          <a target="_blank" class="link-light" href="https://amzn.to/3EPy3mU">
            Deliberate Action
          </a>
          (a concept used to make operators more mindful
          of their actions and reduce errors on nuclear submarines),
          allows you to blunt the effects of 
          <a target="_blank" class="link-light"
            href="https://news.virginia.edu/content/what-doomscrolling-why-do-we-do-it-and-how-can-we-stop">
            doom scrolling</a> once you choose what you consume.

        </p>
      </div>

      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto shadow-lg"
          data-holder-rendered="true"
          src="https://newssnips-fyi.s3.us-west-1.amazonaws.com/public/images/site-navigate-visual.png">
      </div>
    </div>

    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Pick the mood. <span
            class="text-muted">Tap the numbers.</span>
        </h2>
        <p class="lead">
          Tap <button type="button"
            class="btn bth-sm btn-outline-success">Green</button>
          to see positive content about a topic or
          <button type="button"
            class="btn bth-sm btn-outline-danger">Red</button>
          to see the other side.
        </p>
        <p>
          <a href="/v1/home" class="btn btn-lg btn-dark">Try it Out &#128640</a>
        </p>
        <p class="lead">
          Take back control of your mental realestate and give excessive
          negativity an eviction
          notice &#x270A.
        </p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="featurette-image img-fluid mx-auto shadow-lg"
          src="https://newssnips-fyi.s3.us-west-1.amazonaws.com/public/images/mentions-click.png"
          data-holder-rendered="true">
      </div>
    </div>

    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Stay Informed. <span
            class="text-muted">Scroll as usual.</span>
        </h2>
        <p class="lead">
          Once you pick the mood, see each headline or post about the topic. Tap
          <span class="badge bg-light text-dark"><a
              class="disabled">original</a></span>
          to see the original post or article from the source.
        </p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto shadow-lg p-3"
          src="https://newssnips-fyi.s3.us-west-1.amazonaws.com/public/images/pos-headlines.png"
          data-holder-rendered="true">
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div>

  <!-- FAQ section -->
  <div id="faq" class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-8 col-lg-6">
        <!-- Section Heading-->
        <div class="text-center">
          <h3>Frequently Asked Questions</h3>
          <p>If your question is not answered, feel free to use the feedback
            link at the bottom of the page.</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <!-- FAQ content -->
      <div class="col-12 col-sm-10 col-lg-8">
        <div class="accordion faq-accordian" id="faqAccordion">

          <div class="card border-0 ">
            <div class="card-header" id="headingOne">
              <h6 class="mb-0 collapsed" data-toggle="collapse"
                data-target="#collapseOne" aria-expanded="true"
                aria-controls="collapseOne">Why does NewsSnips exist?<span
                  class="lni-chevron-up"></span></h6>
            </div>
            <div class="collapse" id="collapseOne" aria-labelledby="headingOne"
              data-parent="#faqAccordion">
              <div class="card-body">
                <p>
                  There is mounting evidence that the volume of information
                  being consumed by
                  the average user is
                  <a target="_blank" class="link-light"
                    href="https://www.google.com/search?q=global+social+media+screen+time+usage+report">increasing</a>.

                  The growth in content consumption aids <a target="_blank"
                    href="https://amzn.to/3BLTtPc">doomscrooling</a>.

                </p>
                <p>
                  The result is a population that is increasingly experiencing
                  information overload
                  as argued by <a target="_blank" href="https://amzn.to/2ZNUo4v"
                    class="link-light">The Shallows</a>,
                  <a target="_blank" href="https://amzn.to/3BJAchw">Amusing
                    Ourselves to Death</a>
                  and <a target="_blank"
                    href="https://amzn.to/3mIR9Er">Irresistible.</a>

                </p>
                <p>
                  We want to counter these effects by making news and
                  social media more digestible so users can stay informed with
                  the help of technology without feeling like the world is
                  coming
                  to an end.
                </p>
              </div>
            </div>
          </div>

          <div class="card border-0 ">
            <div class="card-header" id="heading6">
              <h6 class="mb-0 collapsed" data-toggle="collapse"
                data-target="#collapse6" aria-expanded="true"
                aria-controls="collapse6">Isn't this harder than just reading
                the news/social media?<span class="lni-chevron-up"></span></h6>
            </div>
            <div class="collapse" id="collapse6" aria-labelledby="heading6"
              data-parent="#faqAccordion">
              <div class="card-body">
                <p>
                  Somewhat.
                <p></p>
                Mood assignment gives <strong>you</strong> the power to focus on
                the positives while also
                giving your a <strong>prospective</strong> on the scale of the
                negativity on a trending topic.
                <p></p>
                We believe you should <strong>exercise your right</strong> to
                control where you spend your attention.
                Therefore, we consider being able to choose the topics and mood
                a privilege all users should have in the modern information age
                to combat sensationalism.
                </p>
              </div>
            </div>
          </div>

          <div class="card border-0 ">
            <div class="card-header" id="heading3">
              <h6 class="mb-0 collapsed" data-toggle="collapse"
                data-target="#collapse3" aria-expanded="true"
                aria-controls="collapse3">How do you handle bias?<span
                  class="lni-chevron-up"></span></h6>
            </div>
            <div class="collapse" id="collapse3" aria-labelledby="heading3"
              data-parent="#faqAccordion">
              <div class="card-body">
                <!-- <p>
                  The sentiment assignment of a specific mention largely depends
                  on the data used to train the open source machine learning
                  model. A factor outside our control as users of those
                  published models. In the future, we hope to be able to train
                  our own models to reduce implicit labeling bias much as
                  possible.

                </p> -->
                <p>
                  NewsSnips ingests feeds by most major news sources such as <a
                    href="https://www.cnn.com/">CNN</a>,
                  <a href="https://www.foxnews.com/">Fox news</a> and <a
                    href="https://www.wsj.com/">the WSJ</a>. We also leverage
                  social media platforms like <a
                    href="https://www.reddit.com/">Reddit</a>. More sources
                  coming
                  soon to provide a comprehensive view of the news landscape. If
                  you’d
                  like to suggest a source, please use the
                  feedback option.
                </p>
              </div>
            </div>
          </div>

          <div class="card border-0 ">
            <div class="card-header" id="headingTwo">
              <h6 class="mb-0 collapsed" data-toggle="collapse"
                data-target="#collapseTwo" aria-expanded="true"
                aria-controls="collapseTwo">Some numbers don't add up!<span
                  class="lni-chevron-up"></span></h6>
            </div>
            <div class="collapse" id="collapseTwo" aria-labelledby="headingTwo"
              data-parent="#faqAccordion">
              <div class="card-body">
                <p>
                  Occasionally, the system is unable to determine if a
                  content is strictly positive or negative. In that
                  case, the
                  statement is added to both mood categories for
                  completeness.
                </p>
              </div>
            </div>
          </div>

          <div class="card border-0 ">
            <div class="card-header" id="heading4">
              <h6 class="mb-0 collapsed" data-toggle="collapse"
                data-target="#collapse4" aria-expanded="true"
                aria-controls="collapse4">What are topic types?<span
                  class="lni-chevron-up"></span></h6>
            </div>
            <div class="collapse" id="collapse4" aria-labelledby="heading4"
              data-parent="#faqAccordion">
              <div class="card-body">
                <p>
                  For example, the system attempts to distinguish between Apple
                  the company and the fruit using separate topic types. Hovering
                  the mouse over the topic type will provide a description of
                  the type.
                </p>
              </div>
            </div>
          </div>

          <div class="card border-0 ">
            <div class="card-header" id="heading5">
              <h6 class="mb-0 collapsed" data-toggle="collapse"
                data-target="#collapse5" aria-expanded="true"
                aria-controls="collapse5">What are sources?<span
                  class="lni-chevron-up"></span></h6>
            </div>
            <div class="collapse" id="collapse5" aria-labelledby="heading5"
              data-parent="#faqAccordion">
              <div class="card-body">
                <p>
                  The links visible when you click the "Sources" button above
                  the topics represent the source of content.
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- End FAQ section -->

  </div><!-- End main content container -->

</div>
}
