@import fyi.newssnips.models._
@import fyi.newssnips.shared.EntityTypeDescriptions


@(analysisRows: Array[AnalysisRowUi], sourceFeeds: Array[FeedRow], lastUpdated: String, categroyId: String)

@siteTemplate("NewsSnips") {
<div class="container">

  @if(categroyId == "home") {
  <div class="container">
    <div class="jumbotron">
      <h1>Welcome to a healthier way to stay informed</h1>
      <p>
        <!-- Take control &#9994 of the topics that get your attention &#128064. -->
        Press the
          <span class="badge badge-pill badge-success">Green Numbers</span> 
          for positivity and 
          <span class="badge badge-pill badge-danger">Red Numbers</span>
          for the other side on each topic.
      </p>
      <p style="font-style: italic;">You may need to swipe sideways on smaller screens.</p>
      <a class="btn btn-info" href="/about" role="button">Learn More</a>
    </div>
  </div>
  }

  <div class="row" id="pre-table">
    <div class="col-md-12">
      <div class="float-right">
        Last updated: @lastUpdated
      </div>
      <p>
        <a class="btn btn-dark dropdown-toggle" data-toggle="collapse" href="#collapseExample" role="button"
          aria-expanded="false" aria-controls="collapseExample">
          Sources
        </a>
      </p>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">

          <ul class="list-group list-group-flush">
            @for(sf <- sourceFeeds) {<tr>
              @if(sf.title.nonEmpty) {
              <li class="list-group-item"><a target="_blank" href="@sf.url">@sf.title</a></li>
              } else {
              <li class="list-group-item"><a target="_blank" href="@sf.url">@sf.url</a></li>
              }
              </tr>}
          </ul>

        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="table-responsive">
          <table class="table table-bordered table-dark table-striped">
            <thead>
              <tr>
                <th data-toggle="tooltip" data-placement="top" data-trigger="click hover focus"
                  title="Click/hover on topic to see topic type">Topic &#9432;</th>
                <th>Total Mentions</th>
                <th>Mood</th>
              </tr>
            </thead>
            <tbody>
              @for(t <- analysisRows) {<tr>
                <th scope="row" style="font-style: italic;" data-toggle="popover" data-trigger="focus click hover"
                  data-placement="top auto"
                  title='@t.entityType (@{EntityTypeDescriptions.descriptions getOrElse(t.entityType, "")})'>
                  @t.entityName
                  
                  @if(t.negativeMentions > 0) {
                    &nbsp;
                    <a 
                      data-bs-placement="top" 
                      title='See negative sentiment mentions of @t.entityName.'
                      href="/v1/@categroyId/mentions/@t.entityName/@t.entityType/negative"
                      class="badge badge-pill badge-danger">@t.negativeMentions
                    </a>
                  }

                  @if(t.positiveMentions > 0) {
                    &nbsp;
                    <a data-bs-placement="top" title='See positive sentiment mentions of @t.entityName.'
                      href="/v1/@categroyId/mentions/@t.entityName/@t.entityType/positive"
                      class="badge badge-pill badge-success">@t.positiveMentions
                    </a>
                  }
                  
                </th>
                <td>@t.totalNumTexts</td>
                <td> 
                  @if(t.positivityScore > 65) {
                    <!-- smiling face with open mouth and smiling eyes -->
                    &#128516;
                  } else if(t.positivityScore > 50){
                    <!-- slightly smiling face -->
                    &#128578;
                  } else if(t.positivityScore >= 40){
                    <!-- neutral face -->
                    &#128528;
                  } else if(t.positivityScore > 30){
                    <!-- angry face -->
                    &#128544;
                  } else {
                    <!-- angry face red -->
                    &#128545;
                  }
                </td>
                </tr>
                }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  }