@import fyi.newssnips.models.TextsPageRow
@import fyi.newssnips.shared.EntityTypeDescriptions

@(
    posTextsRows: Array[TextsPageRow], 
    negTextsRows: Array[TextsPageRow],
    entityName: String, entityType: String,
    books: Seq[Html], 
    entityTypeDescription: String,
)

@siteTemplate(entityName) {
<div class="container">

    @if(posTextsRows.nonEmpty){
        <div class="alert alert-success mt-4 mb-1">
            <h4 class="alert-heading">@entityName
                (@entityTypeDescription)
            </h4>
            <p>Positive/neutral &#128077 mentions of @entityName.</p>
        </div>

        @textsTable(posTextsRows)
    }

    @if(negTextsRows.nonEmpty){
        <div class="alert alert-danger mt-4 mb-1">
            <h4 class="alert-heading">@entityName
                (@entityTypeDescription)
            </h4>
            <p>Negative/neutral &#128078 mentions of @entityName.</p>
        </div>

        @textsTable(negTextsRows)
    
    }

    @if(books.nonEmpty){
        <div class="row">
            <div class="col-md-12">
                <p class="h5 pt-4">Recommended Reading for @entityTypeDescription
                </p>
                <div class="card-deck">
                    @for(iframe <- books) { 
                        <div class="card border-light">
                            <div class="card-body">
                                @iframe
                            </div>
                        </div>
                }
                </div>
            </div>
        </div>
    }
}
